@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
    &-slider__img
      width: 100%
      height: 100%
      object-fit: cover
  .grid
    grid-template-rows: repeat(4, 250px)
    grid-template-columns: minmax(350px, 350px)
    row-gap: 2px
    column-gap: 2px
  .packages
    margin-left: 20px
  .card
    width: 230px
    height: 230px
  .item
    &-box
      margin-top: -20px
  .footer
    &__input
      &-group
        flex-basis: 100%
  label.invalid
    &__footer
      color: red
      font-size: 12px
      position: absolute
      top: 50px
      right: 55%
      width: 200px
@media (max-width: 992px)
  .stars
    margin-top: -5px
  .container, .newsletter-wrapper
    max-width: 700px
  .newsletter
    margin-top: -16px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px
      margin-right: 0px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
    margin-top: 0
  #map
    height: 210px
  .reviews
    &__title
      font-size: 30px
      margin-bottom: 47px
    &-slider
      &__avatar
        margin-bottom: 5px
      &__item
        margin-left: 55px
        margin-right: 55px
      &__button
        min-width: 68px
        &--prev
          top: 54%
          margin-left: -20px
        &--next
          top: 54%
          margin-right: -20px
  .activities
    &__title
      margin-top: -30px
    &-wrapper
      flex-wrap: wrap
      margin-bottom: -4px
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 253px
    &__button
      margin-top: -10px
    &__title
      line-height: 23px
      margin-bottom: 24px
      max-width: 200px
  .grid
    grid-template-rows: repeat(6, 235px)
    grid-template-columns: repeat(2, 350px)
    grid-template-areas: "item-1 item-1" "item-1 item-1" "item-3 item-7" "item-3 item-7" "item-8 item-9" "item-8 item-9"
  .newsletter
    margin-top: 450px
    &-title
      margin-top: -6px
  .item
    &-box
      &--first
        margin-top: -20px
  .footer
    margin-top: -47px
    &__item
      margin-left: -10px
      &--mb-2
        margin-bottom: 15px
    &__icon
      margin-top: 5px
    &__ul
      margin-left: 14px
    margin-top: -41px
    &__title
      margin-top: 5px

      &--mb-3
        margin-top: 0px
        margin-bottom: 25px
      &--mb
        margin-top: -21px
        margin-bottom: 32px
      &--inline
        margin-top: 19px
        margin-left: -15px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
      margin-top: -80px
    &__input
      &-group
        flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      width: 95px
      height: 120px
      margin-top: 40px
    &__social
      &-links
        margin-top: 10px
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-top: 46px
        margin-left: -40px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      margin-left: 11px
      grid-column: span 2
      padding-left: 0
    &-additional
      grid-column: span 2
      margin-left: -40px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 21px
        margin-bottom: 15px
      &-form
        margin-top: 14px
        grid-column: span 5
        grid-row: 4
        padding-right: 43px
    &-disclaimer
      margin-top: 0
      margin-top: 53px
      margin-left: -17px
  label.invalid
    &__footer
      color: red
      font-size: 12px
      position: absolute
      top: 50px
      right: 20%
      width: 200px
@media (max-width: 768px)
  body
    padding-top: 78px
  .grid
    grid-template-rows: repeat(6, 235px)
    grid-template-columns: repeat(2, 320px)
  .packages
    margin-left: -50px
    margin-right:
  .item
    &__button
      &--first
        margin-left: -150px
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 18px
        &_mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
    &__avatar
      &--menu
        margin-left: 0
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-description
      margin-top: 15px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &__slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  #map
    width: 100%
  .offer
    margin-bottom: 0
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -70px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -140px
          transform: translate(-50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__input
      &-group
        flex-basis: 100%
  .modal
    &__dialog
      &--visible
        width: 100%
        padding-left: 5%
        padding-right: 5%
  .subscribe
    position: relative
    &__error
      position: absolute
      color: red
      bottom: 5.5%
      left: 5.5%
  label.invalid
    &__footer
      color: red
      font-size: 12px
      position: absolute
      top: 50px
      left: 3%
      width: 200px
@media (max-width: 576px )
  .grid
    grid-template-areas: "item-1" "item-1" "item-2" "item-2" "item-3" "item-3" "item-7" "item-7" "item-8" "item-8" "item-9" "item-9"
    grid-template-rows: repeat(8, 250px)
    grid-template-columns: minmax(315px, 568px)
    grid-column: span 2
    &-wrapper
      margin-top: -1000px
      margin-left: 0
    &-item
      &__1
        display: none
      &__2
        display: none
  .packages
    margin-left: -20px
    &__header
      margin-top: -70px
  .item
    &-box
      &--first
        padding-left: 9px
    &__text
      width: 260px
      margin-bottom: -30px
    &__header
      &--first
        margin-bottom: 5px
    &-image
      &--others
        width: 100%
      &--first
        width: 100%
        height: 500px
    &__slider
      height: 250px
      margin-bottom: 20px
  .logo
    width: 99px
  .navbar
    &__user
      &-mobile
        &_visible
          margin-top: -6px
    &-top
      margin-top: 0
    &__search
      &_mobile
        &_visible
          width: 240px
          margin-bottom: 17px

  .container
    margin-left: 20px
    margin-right: 20px
  .stars
    margin-top: -20px
    margin-right: 30px
  .offer
    margin-top: -18px
  .swiper-container
    height: 179px
    width: 96%
    margin-top: 0
  .hotel-right
    margin-right: 15px
    position: relative
  #map
    width: 100%
    height: 172px
    position: absolute
    bottom: 48px
  .menu-button
    margin-right: 15px
  .newsletter
    margin-top: 2000px
    padding: 76px 0 83px 0
    height: 320px
    &-wrapper
      margin-left: 0
      margin-right: 0
      padding-left: 20px
    &-title__strong
      font-size: 30px
    &__title
      margin-bottom: 37px
      font-size: 20px
  .subscribe
    max-width: 280px
  .reviews
    &__title
      font-size: 18px
      margin-top: 0px
      margin-left: 15px
      margin-right: 28px
      margin-bottom: 45px
      line-height: 23px
    &-slider
      width: 281px
      height: 500px
      &__item
        margin-right: 0
        margin-left: 0
      &__button
        top: 25px
        &--prev
          margin-left: -100px
        &--next
          margin-right: -150px
      &__text
        font-size: 12px
        margin-top: 0
        margin-bottom: 12px
      &__avatar
        margin-right: 16px
        margin-bottom: 5px
      &__profile
        margin-top: -45px
  .card
    width: 100%
    min-width: 255px
    height: 255px
    max-width: 100%
    height: 255px
    margin-right: 12px
    &__title
      line-height: 20px
      margin-bottom: 26px
  .activities
    margin-bottom: 26px
    &__card
      &--1
        order: 1
      &--2
        order: 3
        margin-top: 5px
      &--3
        order: 2
      &--4
        order: 4
    &__title
      font-size: 18px
      line-height: 23px
      margin-top: -40px
      margin-bottom: 37px
      &__1
        display: flex
        font-display: row
        grid-row-start: 1
        grid-row-end: 2
        grid-column-start: 1
        grid-column-end: 2
      &__2
        grid-area: item-2
        display: initial
      &__5
        grid-area: item-5
        display: initial
  .footer
    margin-top: -40px
    &__link-info
      &--mail
        margin-top: 5px
    &__part
      &--1
        margin-top: 9px
        margin-left: -6px
    &__icon
      &--1
        margin-top: 7px
        margin-left: 5px
      &--2
        margin-top: 15px
      &--3
        margin-top: 15px
        margin-left: 3px
    &__ul
      margin-left: 9px
      &--3
        margin-left: 0
      &--4
    &__button
      margin-top: 20px
    &__info
    &__form
      margin-top: -15px
    &__title
      &--3
        margin-left: -8px
        margin-top: 3px
      &--2
        margin-top: 4px
      &--1
        margin-top: -2px
      &--inline
        margin-top: -5px
        margin-left: 0
      &--mb
        margin-top: -31px
    &-additional
      margin-left: 0
      margin-top: -15px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
      margin-top: 35px
    &__social
      &-links
        margin-top: 2px
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
        margin-top: 0
        display: flex
        flex-direction: column
        align-items: start
        height: 65px
        justify-content: space-between
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
      margin-top: -10px
    &__legal
      margin-top: -15px
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        width: 300px
        margin-top: 0
      &-form
        grid-row: 7
        grid-column: 1
        width: 320px
        position: relative
    &__info
      position: absolute
      bottom: 70px
    &-disclaimer
      display: flex
      flex-direction: column
    &__disclaimer
      margin-top: -25px
      display: flex
      font-size: 10px
      display: flex
      flex-direction: row
      width: 300px
      &-image
        margin-left: 15px
      &-wrapper
        margin-right: 0
        margin-left: -4px
  .user
    &_mobile
      &_visible
        margin-top: -6px
    &__avatar
      &--menu
        margin-top: -20px
        margin-right: 10px
    &__name
      &--light
        margin-right: 10px
        margin-bottom: 5px
  .modal
    &__dialog
      &--visible
        width: 100%
        padding-left: 5%
        padding-right: 5%
  label.invalid
    &__footer
      color: red
      font-size: 12px
      position: absolute
      top: 50px
      left: 3%
      width: 200px
@media (max-height: 576px )
  .navbar
    &-bottom
      &--visible
        overflow-x: hidden
        overflow-y: scroll
  .modal
    &__dialog
      &--visible
        width: 100%
        max-width: 100%
        height: 100%
        overflow-y: auto
        overflow-x: hidden
         
