@media (max-width: 1200px) 
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
    &-slider__img
      width: 100%
      height: 100% 
      object-fit: cover 
  .card
    width: 230px
    height: 230px   
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .newsletter
    margin-top: -16px  
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px
      margin-right: 0px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
    margin-top: 0
  #map
    height: 210px  
  .reviews
    &__title
      font-size: 30px
      margin-bottom: 47px
    &-slider
      &__avatar
        margin-bottom: 5px
      &__item
        margin-left: 55px
        margin-right: 55px
      &__button
        min-width: 68px
        &--prev
          top: 54%
          margin-left: -20px
        &--next
          top: 54% 
          margin-right: -20px
  .activities
    &__title
      margin-top: -30px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px  
  .card
    width: 339px
    height: 253px
    &__button
      margin-top: -10px 
    &__title
      max-width: 200px
      line-height: 28px              
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-description
      margin-top: 15px  
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0  
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &__slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  #map
    width: 100% 
  .offer
    margin-bottom: 0
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -70px 
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -140px
          transform: translate(-50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px        
  .card
    width: 49%
    height: 255px        
@media (max-width: 576px )
  .hotel
    &__slider
      height: 250px
      margin-bottom: 20px 
  .logo
    width: 99px
  .navbar-top
    margin-top: -9px
  .container
    margin-left: 20px
    margin-right: 20px
  .stars
    margin-top: -20px  
    margin-right: 30px
  .offer
    margin-top: -18px
  .swiper-container
    height: 179px
    width: 96%
    margin-top: 0
  .hotel-right
    margin-right: 15px
    position: relative
  #map
    width: 100%
    height: 172px     
    position: absolute
    bottom: 48px
  .menu-button
    margin-right: 15px  
  .newsletter
    padding: 76px 0 83px 0
    margin-top: -72px
    height: 320px
    &-wrapper
      margin-left: 0
      margin-right: 0
      padding-left: 20px
    &-title__strong
      font-size: 30px  
    &__title
      margin-bottom: 37px
      font-size: 20px
  .subscribe
    max-width: 280px
  .reviews
    &__title
      font-size: 18px
      margin-top: 0px
      margin-left: 15px
      margin-right: 28px
      margin-bottom: 45px
      line-height: 23px
    &-slider
      width: 281px
      height: 500px
      &__item
        margin-right: 0
        margin-left: 0
      &__button
        top: 25px      
        &--prev
          margin-left: -100px 
        &--next
          margin-right: -150px
      &__text
        font-size: 12px
        margin-top: 0 
        margin-bottom: 12px 
      &__avatar
        margin-right: 16px 
        margin-bottom: 5px
      &__profile
        margin-top: -45px  
  .card
    width: 100%
    height: 255px
    margin-right: 12px
    &__title
      line-height: 20px
      margin-bottom: 26px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-top: -40px
      margin-bottom: 37px  
    
