* 
  box-sizing: border-box
html
  overflow-x: hidden
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color
  overflow-x: hidden
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
input::-moz-placeholder
  color: $text-color
textarea::-moz-placeholder
  color: $text-color





